div.civiparoisse-paged-result {
  page-break-before: always;
  margin-top: 2em;
}
table.civiparoisse-paged-table {
  border: 1px ridge;
  margin: 1px 0;
}

table.civiparoisse-paged-table td {
  border: 1px ridge;
  padding: 1px 1px !important;
}

table.civiparoisse-paged-table th {
  border: 1px ridge;
  padding: 1px 1px !important;
}

div.civiparoisse-print-title{
  display:none;
}
@media print {
  nav#civicrm-menu-nav .crm-menubar-toggle-btn {
    display: none;
  }
  div.civiparoisse-print-title{
    display: block;
  }

  div.civiparoisse-paged-result:last-of-type{
    page-break-after:always;
  }
}
